main {
  background: #003973;
  background: -webkit-linear-gradient(to right, #e5e5be, #003973);
  background: linear-gradient(to right, #e5e5be, #003973);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(31, 37, 36);
  margin-bottom: 0.5em;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

.container-descripcion {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: rgb(154, 206, 241);
  padding: 1em;
}

.descripcion {
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.animales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.animales__item {
  width: 300px;
  background-color: rgb(196, 228, 230);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
  gap: 1em;
}
.animales__item:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.animales__item img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.hidden {
  display: none;
}

.more-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.animales__item a,
.animales__item button {
  background-color: rgb(44, 43, 43);
  width: 100%;
  padding: 0.3em;
  color: rgba(240, 248, 255, 0.801);
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
}

.animales__item a:hover {
  border-bottom: 4px solid rgba(145, 150, 155, 0.801);
}
