main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
  
}

.centrar-titulo{
display: flex;
justify-content: center;
margin: 10px;
}

.titulo{
display: flex;
justify-content: center;
align-items: center;
width: 80%;
background-color: aqua;
border-radius: 25px;
padding: 1em;

}
.descripcion-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.descripcion{
    background-color: brown;
    padding: 1em;
    display: flex;
    justify-content: center;
    transition:  background-color 2s linear;
    width: 400px;
    opacity: .8;
}

.descripcion:hover{
    background-color: coral;
}

p{
    display: flex;
    padding: 1em;
}

.subtitulo{
    display: flex;
    justify-content: flex-start;
    gap: 10em;
}
.item-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-position: center;
}