
main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
  
}

.titulo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2em;
}
.item{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/web-animales-v2/Recursos/imagenes/SobreMi/basquet.jpg");
    opacity: .4;
}
.item-badground{
    width: 300px;
    height: 400px;
    gap: 1em;
    object-fit: cover;
    background-position: center;
    border-radius: 15px;
}

